@mixin mobile-only {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin arrow-css($direction, $color: #c85054) {
    border-top: 15px solid transparent;
    border-#{$direction}: 30px solid $color;
    border-bottom: 15px solid transparent;
}
