.slider {
    display: block;
    height: 270px;
    width: auto;
    margin: 0 auto;
    position: relative;
    max-width: 1300px;
    margin-top: 20px;

    &__arrow-left {
        position: absolute;

        left: 10%;
        top: 50%;

        transform: translate3d(0, -50%, 0);
        color: white;
        font-size: 28px;
        cursor: pointer;

        @include arrow-css(right);

        @include mobile-only {
            display: none;
        }
    }

    &__arrow-right {
        position: absolute;
        right: 10%;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        color: white;
        font-size: 28px;
        cursor: pointer;

        @include arrow-css(left);

        @include mobile-only {
            display: none;
        }
    }

    &__items {
        display: block;
        width: 650px;
        height: 100%;
        margin: 0 auto;
        position: relative;
        text-align: center;
        line-height: 270px;
        color: white;

        @include mobile-only {
            height: 450px;
        }
    }

    &__item {
        display: inline-block;

        width: 80%;
        height: 270px;

        position: absolute;

        left: 50%;
        top: 50%;

        transform: translate3d(-50%, -50%, 0) scale3d(0.4, 0.4, 1);
        transition: transform 0.3s ease-in-out 0s, z-index 0.2s ease-in-out 0.1s;

        background-color: #2c2a40;

        @include mobile-only {
            width: 100%;
            height: 450px;
        }

        &--prev-2 {
            transform: translate3d(-105%, -50%, 0) scale3d(0.4, 0.4, 1);
            z-index: 1;
            opacity: 0.5;
        }
        &--prev-1 {
            transform: translate3d(-85%, -50%, 0) scale3d(0.6, 0.6, 1);
            z-index: 2;
        }
        &--next-1 {
            z-index: 2;
            transform: translate3d(-15%, -50%, 0) scale3d(0.6, 0.6, 1);
        }
        &--next-2 {
            z-index: 1;
            transform: translate3d(5%, -50%, 0) scale3d(0.4, 0.4, 1);
            opacity: 0.5;
        }
        &--active {
            z-index: 3;
            transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
            box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.3);
            backface-visibility: hidden;
        }
    }

    &__dots {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 30px 0;
        user-select: none;

        span {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 2px;
            cursor: pointer;
            user-select: none;
            padding: 10px 0;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate3d(-50%, -50%, 0);
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background-color: #ccc;
                opacity: 0.6;
            }

            @include mobile-only {
                width: 23px;
                margin-bottom: 15px;
            }

            &.active {
                &:before {
                    background-color: #c85054;
                    opacity: 1;
                }
            }
        }
    }
}
