@import 'utils/mixins';
@import 'utils/variables';
@import 'base/font';
@import 'base/base';
@import 'components/MainSection';
@import 'components/Footer';
@import 'components/Slider';

body {
    margin: 0;
    font-family: 'mate-sc', sans-serif;
    background-image: map-get($images, 'background');
}

h1 {
    text-align: center;
    font-size: 40pt;
}
